// Use variables
@import 'variables';


// Application
.App {
	@include displayBlock;
	@include blockParams(100%, 100%);
	padding: $padding-step * 6;
	background-color: #ffffff;
}

// Cart components

// Cart button
.cart-button {
	@include displayBlock;
	border: none;
	color: $orange;
	min-width: 100px;
	transition: $transition;
	border: 1px solid $orange;
	background-color: #ffffff;
	border-radius: $padding-step * 2;

	&:hover {
		cursor: pointer;
		color: #ffffff;
		background-color: rgb(217, 99, 52);
	}

	&:focus {
		outline: none;
	}
}

// Navigation components

// Navigation list
.navigation {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: block;
		min-width: 100px;
		text-align: center;
		border-radius: 16px;
		border: 1px solid transparent;
		transition: $transition;
		padding: $padding-step $padding-step * 2;

		&:hover {
			cursor: pointer;
			border: 1px solid $orange;
		}
	}

	li.selected {
		color: $orange;
		border: 1px solid $orange;
	}
}

// Pizza component
.pizza {
	width: 300px;
	margin: 0 auto;
}

.pizza-img {
	transition: $transition;

	&:hover {
		transform: translateY(-4px);
	}
}

.pizza-content {
	height: 75px;
	color: rgb(115, 121, 140)
}

.pizza-order {
	@include displayBlock;
	border: none;
	border: 1px solid $orange;
	background-color: #ffffff;
	padding: $padding-step * 2 $padding-step * 6;
	border-radius: $padding-step;
	transition: $transition;
	color: $orange;
	font-size: 16px;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}
}