// Use variables
@import 'variables';


// Application
.App {
	@include displayBlock;
	@include blockParams(100%, 100%);
	padding: $padding-step * 6 $padding-step * 8;
	background-color: #ffffff;
}

// Cart components

// Cart button
.cart-button {
	@include displayBlock;
	width: auto;
	color: #ffffff;
	min-width: 100px;
	transition: $transition;
	border: 1px solid $orange;
	border-radius: $padding-step;
	background-color: $orange;

	&:hover {
		cursor: pointer;
		background-color: $orangeDark;
	}

	&:focus {
		outline: none;
	}
}

.cart-text {
	color: #ffffff;
}

.cart-count {
	display: inherit;
	width: 35px;
	color: #ffffff;

	&::before {
		content: "";
		display: inline-block;
		height: 20px;
		width: 1px;
		opacity: 0.4;
		position: relative;
		top: 4px;
		margin: -2px 12px;
		background: rgb(255, 255, 255);
	}
}

// Navigation components

// Navigation list
.navigation {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: block;
		min-width: 100px;
		text-align: center;
		border-radius: 16px;
		border: 1px solid transparent;
		transition: $transition;
		padding: $padding-step $padding-step * 2;

		&:hover {
			cursor: pointer;
			border: 1px solid $orange;
		}
	}

	li.selected {
		color: $orange;
		border: 1px solid $orange;
	}
}

// Pizza component
.pizza {
	width: 318px;
	margin: 0 auto;
}

.pizza-img {
	transition: $transition;

	&:hover {
		transform: translateY(-4px);
	}
}

.pizza-content {
	height: auto;
	min-height: 100px;
	color: rgb(115, 121, 140)
}

.pizza-config {
	padding: 4px 6px;
	margin-bottom: $margin-step * 1.5;
	background-color: $ligthGrey;
	border-radius: $padding-step;
}

.pizza-config_value {
	width: auto;
	color: $black;
	display: block;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	box-sizing: border-box;
	transition: $transition;
	padding: $padding-step / 2 $padding-step * 2;
}

.pizza-config_value[data-props='dough'] {
	color: $textPlaceholder;
}

.pizza-config_value.selected {
	background-color: #ffffff;
	// box-shadow: 3px 0px 9px #cccccc;
	box-shadow: 1px 0px 6px 0px #cccccc;
}

.pizza-config_value.selected[data-props='dough'] {
	color: $black;
}

.pizza-order {
	@include displayBlock;
	min-width: 50%;
	color: $orange;
	font-size: 16px;
	transition: $transition;
	border: 1px solid $orange;
	background-color: #ffffff;
	border-radius: $padding-step;
	padding: $padding-step $padding-step * 4;

	&:hover {
		cursor: pointer;
		color: $orangeDark;
		border: 1px solid $orangeDark;
	}

	&:focus {
		outline: none;
	}
}